@import "normalize.css"

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400')

$primary: #83AF9B
$black-text: rgba(0, 0, 0, .87)

body
  font-family: 'Ubuntu', sans-serif
  color: $black-text
  line-height: 1.2
  padding: 50px 0

.container
  max-width: 1400px
  width: 90%
  margin: 0 auto

.logo
  display: block

  img
    width: 104px
    height: auto
    margin-bottom: 40px

h1
  font-weight: 300
  color: rgba(0, 0, 0, .56)
  font-size: 3em
  max-width: 1000px

  strong
    font-weight: 400
    color: $primary

  em
    color: $black-text
    font-style: normal

ul
  margin-top: 80px
  list-style-type: none
  padding-left: 0

  li
    margin-top: 20px

    a
      font-size: 1.5em
      color: $black-text
      text-decoration: none
      transition: all 200ms ease

      &:hover
        opacity: .6

      img
        display: inline
        vertical-align: middle
        margin-right: 35px
        width: 30px
        height: auto
