head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="description" content="I am Sebastian Barfurth, currently living in Stuttgart and studying Business Information Systems at DHBW")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Sebastian Barfurth

  // Main stylesheet
  link(rel="stylesheet" href="styles/main.css")

  // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
  // link(rel="canonical" href="http://www.example.com/")
