extends layouts/layout.pug

block content
  .container
    a.logo(href="/")
      img(src="/images/logo.svg" alt="Logo")

    h1
      | I am
      strong  Sebastian Barfurth
      | , currently living in
      em  Stuttgart
      |  and studying
      em  Business Information Systems
      |  at DHBW

    ul
      li
        a(href="https://twitter.com/sebibarfurth" target="_blank")
          img(src="/images/icons/twitter.svg" alt="Twitter")
          | sebibarfurth
      li
        a(href="https://github.com/sebastianbarfurth" target="_blank")
          img(src="/images/icons/github.svg" alt="Github")
          | sebastianbarfurth
      li
        a(href="https://www.instagram.com/sebastianbarfurth/" target="_blank")
          img(src="/images/icons/instagram.svg" alt="Instagram")
          | sebastianbarfurth
