extends layouts/layout.pug

block content
  img.logo(src="/images/logo.svg" alt="Logo")

  h1
    | Ich bin
    strong  Sebastian Barfurth
    | , lebe in
    em  Stuttgart
    |  und studiere
    em  Wirtschaftsinformatik
    |  an der DHBW

  ul
    li
      a(href="#")
        img(src="/images/icons/twitter.svg" alt="Twitter")
        | sebibarfurth
    li
      a(href="#")
        img(src="/images/icons/github.svg" alt="Github")
        | sebastianbarfurth
    li
      a(href="#")
        img(src="/images/icons/instagram.svg" alt="Instagram")
        | sebastianbarfurth
