extends layouts/layout.pug

block content
  img.logo(src="/images/logo.svg" alt="Logo")

  h1
    | Ich bin
    strong  Sebastian Barfurth
    | , lebe in
    em  Stuttgart
    |  und studiere
    em  Wirtschaftsinformatik
    |  an der DHBW

  ul
    li
      a(href="#") sebibarfurth
    li
      a(href="#") sebastianbarfurth
    li
      a(href="#") sebastianbarfurth
